# /home/modolo/.config/systemd/user/librespot.service
[Unit]
Description=Librespot
Documentation=https://github.com/librespot-org/librespot
After=network-online.target
Wants=network-online.target

[Service]
EnvironmentFile=/home/modolo/.config/librespot/config.env
Restart=always
RestartSec=10
ExecStartPre=/bin/bash -c '/usr/bin/touch /home/modolo/.cache/librespot/started'
ExecReload=/bin/bash -c '/usr/bin/touch /home/modolo/.cache/librespot/reloaded'
ExecStart=/home/modolo/bin/librespot --name "%p on %H" \
          --bitrate ${BITRATE} \
          --cache ${CACHE_PATH} \
          --initial-volume ${INITIAL_VOLUME} \
          --device-type ${DEVICE_TYPE} \
          --username  ${USERNAME} \
          --password  ${PASSWORD} \
          --onevent ${ONEVENT} \
          ${FLAGS} 

[Install]
WantedBy=multi-user.target
